{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flask-Git{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>My Flask Application</h1>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        This is an example of using Flask with blueprints.</br>
        <a href="https://github.com/NixonInnes/Flask-Blueprints">The source can be found here</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}